body{
  margin:0;
  padding:0;
  font:12px "雅黑宋体", "微软雅黑", "新宋体", "宋体";
}
ul li{
  list-style: none;
}
a{
  text-decoration:none;
  color:#000;
} 
span,p{
  line-height: 40px;
}
.container-fluid{
  padding: 0;
}

.footer{
  height: 45px;
  line-height: 45px;
  background-color: #fff;
  color: #666;
  text-align: center;
}
.footer-container{
  background-color: #ddd;
}