.gallery-title{
  width: 100%;
  margin-bottom: 5px;
  background-color: #002f6c;
}
.title{
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.gallery-h1{
  line-height: 100px;
}

.main{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.img2{
  margin-left: 3px;
}
.one-font{
  margin:30px 0;
}
.one-font span{
  font-size: 17px;
  color: #002f6c;
}
@media screen and (min-width: 1200px) {
  .title{
    width: 44%;
  }
  .main{
    width: 46%;
    display: flex;
  }
  .one-img>a>img{
    width: 450px;
    height: 300px;
  }
  .gallery-footer{
    height: 321px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
  .title{
    width: 60%;
  }
  .main{
    width: 75%;
    display: flex;
  }
  .one-img>a>img{
    width: 450px;
    height: 300px;
  }
  .gallery-footer{
    height: 321px;
  }
}
@media screen and (min-width:768px) and (max-width:991px){
  .title{
    width: 75%;
  }
  .main{
    width: 100%;
  }
  .one-img>a>img{
    width: 450px;
    height: 300px;
  }
  .gallery-footer{
    height: 321px;
  }
}

@media screen and (min-width: 545px) and (max-width: 767px){
  .title{
    width: 80%;
  }
  .main{
    width: 100%;
  }
  .gallery-h1{
    font-size: 30px;
  }
  .one-img>a>img{
    width: 450px;
    height: 300px;
  }
  .gallery-footer{
    height: 321px;
  }
}

@media screen and (max-width: 544px) {
  .title{
    width: 90%;
  }
  .main{
    width: 100%;
  }
  .gallery-h1{
    font-size: 30px;
  }
  .one-img>a>img{
    width: 350px;
    height: 240px;
  }
  .gallery-footer{
    height: 50px;
    line-height: 50px;
    padding-top: 0;
  }
}
.gallery-footer{
  width: 100%;
  background-color: #aaa;
}
.foot-font{
  text-align: center;
  color: #888;
}