.header-container {
  width: 100%;
}

.container {
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 70%;
  }
  .min-header-right{
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1119px){
  .container {
    width: 90%;
  }
  .min-header-right{
    display: none;
  } 
}
@media screen and (min-width:768px) and (max-width:991px){
  .container {
    max-width: 90%;
    justify-content: space-between;
  }
  .header-right{
    display: none;
  }
  .min-header-right{
    display: block;
  }
}

@media screen and (min-width: 545px) and (max-width: 767px){
  .container {
    width: 100%; 
  }
  .header-right{
    display: none;
  }
  .min-header-right{
    display: block;
  } 
}

@media screen and (max-width: 544px) {
  .container {
    width: 100%;
  }
  .min-header-right{
    display: block;
  } 
  .header-right{
    display: none;
  }
}

.header-left-img {
  width: 180px;
  height: 60px;
}


.header-right-first-ul {
  display: flex;
}

.header-right-first-ul {
  font-size: 18px;
}

.header-right-first-li {
  width: 95px;
  height: 63px;
  text-align: center;
  line-height: 70px;
}

.header-right-first-li a {
  color: #d90032;
}

.active {
  font-weight: bold;
}

.visi {
  font-weight: normal;
}

/* 隐藏导航栏 */
.header-right-second-ul {
  width: 240px;
  position: absolute;
  top: 80px;
  padding-left: 0;
  visibility: hidden;
  background-color: #fff;
  text-align: left;
}

.header-right-first-li:hover {
  background-color: #ddd;
}

.header-right-first-li:hover .header-right-second-ul {
  visibility: initial;
}

.hiddenLi {
  height: 60px;
  margin-top: 10px;
  line-height: 60px;
}

/* 小屏导航栏 */
/* .min-header-right{
  display: none;
} */
.min-img {
  cursor: pointer;
}

.min-icon {
  content: "\e5d2";
  font-family: Astra;
  text-decoration: inherit;
}

.min-navbar {
  width: 100%;
  background-color: #fff;
}

.min-navbar {
  position: absolute;
  left: 0;
  top: 85px;
}

.min-right-first-ul {
  width: 100%;
  padding-left: 0;
  font-size: 16px;
}

.min-header-right-first-li {
  text-align: left;
}

.min-header-right-first-li a {
  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  color: #d90032;
}

.min-header-right-second-ul {
  padding-left: 0;
}

.min-header-right-second-ul li a {
  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 0 40px;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  color: #d90032;
}

.min-active {
  background-color: #ddd;
}

.min-visi {
  background-color: none;
}